* {
    box-sizing: border-box;
}

body {margin: 0;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 2rem;
    background-color: rgb(174, 174, 174);
}

.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem
}

.nav a {
    display: flex;
}

.navTitle {
    font-size: 2rem;
}